### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Django project files
.pyc
.DS_Store
__pycache__/
db.sqlite3
thumbs.db

.vscode/
.vscode
migrations/