{% if categories %}
{% for c in categories %}
            {% if c == current_category %}
            <li>
                <a href="{% url 'rango:show_category' c.slug %}" class="nav-link active text-white">
                    <span data-feather="archive"></span>{{ c.name }}
                </a >
            </li>
            {% else %}
            <li>
                <a href="{% url 'rango:show_category' c.slug %}" class="nav-link text-white">
                    <span data-feather="archive"></span>{{ c.name }}
                </a >
            </li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li class="nav-item">
            There are no categories present.
        </li>
    {% endif %}
