{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
    <script src="{% static 'js/rango.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
crossorigin="anonymous"></script>
    {% csrf_token %}
    <link href="{% static 'css/category-style.css' %}" rel="stylesheet">
    <div class="jumbotron p-4">
    {% if category %}
        <div class="title-div">
            <h1 id="cate-title">{{ category.name }}</h1>
            {% if user.is_authenticated %}
            <span id="cate-username" style="display: none;">{{user.username}}</span>
            <span onclick="follow()" id="like-icon" data-feather="heart" style="width: 30px; height: 30px;color: black"></span>
            {% endif %}
        </div>
        <div>
            <strong id="like_count">{{ category.likes }}</strong> likes
        </div>
    </div>
    {% if pages %}
    <ol class="list-group">
        {% for page in pages %}
        <li class="list-group-item">
            <div class="list-group-div">
                <a href="{{ page.url }}">{{ page.title }}</a>
            </div>
        </li>
        {% endfor %}
    </ol>
    {% else %}
    <strong>No pages currently in category.</strong>
    {% endif %}

    {% if user.is_authenticated %}
    <div style="margin-top: 20px; padding-left: 10px;">
        <a href="{% url 'rango:add_page' category.slug %}">Add Page</a> <br />
    </div>
    {% endif %}
    {% else %}
    The specified category does not exist.
    {% endif %}
{% endblock %}