{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}
{% block body_block %}
<link href="{% static 'css/index-style.css' %}" rel="stylesheet">
    <div class="container" style="height: 100%;">
        <div class="row">
            
            <div class="align-self-start jumbotron p-4" style="border-radius: 10px;">
                <h1 class="jumbotron-heading">Rango says...</h1>
                <div>
                {% if user.is_authenticated %}
                    Welcome! {{ user.username }}
                {% else %}
                    hey there partner!
                {% endif %}
                    <br />
                    <strong>{{ boldmessage }}</strong><br />
                </div>
            </div>

            <div class="align-self-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-6">
                            <div class="card-body card-div">
                                <div class="card-title">
                                    <strong>
                                        <span class="card-icon" data-feather="eye"></span>Recently Viewed
                                    </strong>
                                </div>
                                <p class="card-text">
                                    {% if categories %}
                                        <ul class="list-group">
                                        {% for category in categories %}
                                            <li class="list-group-item">
                                                <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}<a>Viewed at :{{ category.last_viewed }}</a>
                                                </a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% else %}
                                        <strong>There are no categories present.</strong>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-6">
                            <div class="card-body card-div">
                                <div class="card-title">
                                    <strong>
                                        <span class="card-icon" data-feather="heart"></span>Followed Category
                                    </strong>
                                </div>
                                <p class="card-text">
                                    {% if categories %}
                                        <ul class="list-group">
                                        {% for category in categories %}
                                            <li class="list-group-item">
                                                <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% else %}
                                        <strong>There are no categories present.</strong>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>



            <div class="align-self-end">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-6">
                            <div class="card-body card-div">
                                <div class="card-title">
                                    <strong>
                                        <span class="card-icon" data-feather="thumbs-up"></span>Most Liked Categories
                                    </strong>
                                </div>
                                <p class="card-text">
                                    {% if categories %}
                                        <ul class="list-group">
                                        {% for category in categories %}
                                            <li class="list-group-item">
                                                <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% else %}
                                        <strong>There are no categories present.</strong>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-6">
                        <div class="mb-6">
                            <div class="card-body card-div">
                                <div class="card-title">
                                    <strong>
                                        <span class="card-icon" data-feather="trending-up"></span>Most Viewed Pages
                                    </strong>
                                </div>
                                <p class="card-text">
                                    {% if pages %}
                                        <ul class="list-group">
                                        {% for page in pages %}
                                            <li class="list-group-item">
                                                <a href="{{ page.url }}">{{ page.title }}</a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% else %}
                                        <strong>There are no pages present.</strong>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>

        </div>
    </div>
{% endblock %}