{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<link href="{% static 'css/login-style.css' %}" rel="stylesheet">
<script src="{% static 'js/rango.js' %}"></script>
{% if registered %}
<div class="jumbotron p-4">
    Rango says: <strong>thank you for registering!</strong>
    <a href="{% url 'rango:index' %}">Return to the homepage.</a><br />
</div>
{% else %}
<div class="p-4 login-title">
    <h1>Register for Rango</h1>
</div>
<div class="container">
    <div class="login-container">
        <form class="form-signin" role="form" method="post" action="{% url 'rango:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="login-enter">
                <span class="login-enter-icon" data-feather="user"></span>
                <input id="id_username" class="form-control" placeholder="Username" type="text" name="username" size="50" required autofocus/>
            </div>
            <div style="margin-top: 10px; text-align: center; display: none;">
                <span class="helptext">
                    Required. 30 characters or fewer.
                    Letters, digits and @/./+/-/_ only.
                </span>
            </div>
            
            <div class="login-enter">
                <span class="login-enter-icon" data-feather="mail"></span>
                <input id="id_email" class="form-control" placeholder="Email Address" type="text" name="email" size="50" required/>
            </div>
            <div class="login-enter">
                <span class="login-enter-icon" data-feather="lock"></span>
                <input id="id_password1" class="form-control" placeholder="Password" type="password" name="password1" size="50" required/>
            </div>
            <div class="login-enter">
                <span class="login-enter-icon" data-feather="lock"></span>
                <input id="id_password2" class="form-control" placeholder="Confirm Password" type="password" name="password2" size="50" required/>
            </div>
            <div style="margin-top: 10px; text-align: center; display: none;">
                <span class="helptext">
                    Enter the same password as before, for verification.
                </span>
            </div>
            <div class="login-buttons">
                <button class=" btn btn-log " type="submit" value="Submit">Register</button>
                <div onclick="goToLogin()" class="login-buttons btn btn-rg">Login</div>
            </div>
        </form>
    </div> 
</div>
{% endif %}
{% endblock %}